<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @team.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @team.address %>
</p>

<p>
  <strong>Department:</strong>
  <%= @team.department %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
